@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateBorderColors {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: rgb(20, 224, 20);
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: purple;
  }
}

.otp-input {
  animation: rotateBorderColors 3s linear infinite;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
  transition: border-color 0.3s ease-in-out;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 9999px;
  background: linear-gradient(90deg, #ff0080, #ff8c00, #40e0d0, #1e90ff);
  background-size: 300% 300%;
  animation: gradient-border 3s ease infinite;
  z-index: -1;
}
