@keyframes rotateBorderColors {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: rgb(20, 224, 20);
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: purple;
  }
}

.otp-input {
  animation: rotateBorderColors 3s linear infinite; /* Rotates through colors */
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
  transition: border-color 0.3s ease-in-out;
}
